api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack with an order definition suitable for Solidity applications"
  homepage = "https://github.com/amp-buildpacks/solidity"
  id = "amp-buildpacks/solidity"
  keywords = ["Solidity"]
  name = "AMP Buildpack for Solidity"
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/amp-buildpacks/solidity/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "README.md", "buildpack.toml"]

[[order]]

  [[order.group]]
    id = "amp-buildpacks/solc"
    version = "0.4.10"

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    optional = true
    version = "5.11.4"
